{% extends "base.html" %}

{% block title %}Contact Us - {{ block.super }}{% endblock %}

{% block breadcrumb %}
    <!-- breadcrumb start -->
    <div class="block-header block-header--has-breadcrumb block-header--has-title">
        <div class="container">
            <div class="block-header__body">
                <nav class="breadcrumb block-header__breadcrumb" aria-label="breadcrumb">
                    <ol class="breadcrumb__list">
                        <li class="breadcrumb__spaceship-safe-area" role="presentation"></li>
                        <li class="breadcrumb__item breadcrumb__item--parent breadcrumb__item--first">
                            <a href="{{ homepage_url }}" class="breadcrumb__item-link">Home</a>
                        </li>
                        <li class="breadcrumb__item breadcrumb__item--current breadcrumb__item--last" aria-current="page">
                            <span class="breadcrumb__item-link">Contact Us</span>
                        </li>
                        <li class="breadcrumb__title-safe-area" role="presentation"></li>
                    </ol>
                </nav>
                <h1 class="block-header__title">Contact Us</h1>
            </div>
        </div>
    </div>
    <!-- breadcrumb end -->
{% endblock breadcrumb %}

{% block layout %}
<div class="block">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-7">
                        <h4 class="contact-us__header card-title">Leave us a Message</h4>
                        <form>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="form-name">Your Name</label>
                                    <input type="text" id="form-name" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="form-email">Email</label>
                                    <input type="email" id="form-email" class="form-control" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="form-subject">Subject</label>
                                <input type="text" id="form-subject" class="form-control" placeholder="Subject">
                            </div>
                            <div class="form-group">
                                <label for="form-message">Message</label>
                                <textarea id="form-message" class="form-control" rows="4"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </form>
                    </div>
                    <div class="col-12 col-md-5 mt-4 mt-md-0">
                        <h4 class="contact-us__header card-title">Our Address</h4>
                        <div class="contact-us__address">
                            <p>
                                Bujumbura, Burundi<br>
                                Email: jengamarket@gmail.com<br>
                                Phone Number: +25461125508
                            </p>
                            <p>
                                <strong>Opening Hours</strong><br>
                                Monday to Friday: 8am-8pm<br>
                                Saturday: 8am-6pm<br>
                                Sunday: 10am-4pm
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="block-space block-space--layout--before-footer"></div>
</div>
{% endblock layout %}
