{% extends "base.html" %}
{% load i18n %}

{% block title %}{% translate "Sign In" %}{% endblock %}

{% block layout %}
<div class="block">
    <div class="container container--max--lg">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex flex-column mt-4 mt-md-0">
                <div class="card flex-grow-1 mb-0">
                    <div class="card-body">
                        <h3 class="card-title text-center">{% translate "Login" %}</h3>
                        <form method="post" action="{% url 'account_login' %}">
                            {% csrf_token %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">{{ error }}</div>
                            {% endfor %}
                            <div class="form-group">
                                <label for="{{ form.login.id_for_label }}">{{ form.login.label }}</label>
                                <input type="text" name="{{ form.login.name }}" id="{{ form.login.id_for_label }}" class="form-control" placeholder="{% translate 'Email address' %}" autofocus="autofocus" required>
                                {% for error in form.login.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
                                <input type="password" name="{{ form.password.name }}" id="{{ form.password.id_for_label }}" class="form-control" placeholder="{% translate 'Password' %}" required>
                                {% for error in form.password.errors %}
                                    <div class="invalid-feedback d-block">{{ error }}</div>
                                {% endfor %}
                            </div>
                            {% if form.remember %}
                            <div class="form-group">
                                <div class="form-check">
                                    <input type="checkbox" name="{{ form.remember.name }}" id="{{ form.remember.id_for_label }}" class="form-check-input">
                                    <label class="form-check-label" for="{{ form.remember.id_for_label }}">{{ form.remember.label }}</label>
                                </div>
                            </div>
                            {% endif %}

                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}">
                            {% endif %}

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-primary mt-4 w-100">{% translate "Sign In" %}</button>
                            </div>
                            <div class="text-center mt-2">
                                <a href="{% url 'account_reset_password' %}">{% translate "Forgot Password?" %}</a>
                            </div>
                            <div class="text-center mt-2">
                                {% url 'account_signup' as signup_url %}
                                {% blocktranslate %}If you don't have an account, please
                                <a href="{{ signup_url }}">sign up</a>.{% endblocktranslate %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock layout %}
